<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring MVC with Thymeleaf</title>
	<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1/>
	<script type="text/javascript" href="/webjars/bootstrap/js/bootstrap.min.js"/>
	<script type="text/javascript" href="/webjars/jquery/jquery.min.js"/>
	
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
	
</head>
<body>
	<h1>Resume Basic Info</h1>
	<p th:text="${basicInfo.firstName}">FirstName: </p>
	<p th:text="${basicInfo.lastName}">LastName: </p>
	<p th:text="${basicInfo.city}">city: </p>
	<p th:text="${basicInfo.state}">State: </p>
	<p th:text="${basicInfo.postalcode}">Postal Code: </p>
	<p th:text="${basicInfo.title}">Title: </p>
	<p th:text="${basicInfo.phone}">Phone: </p>
	<p th:text="${basicInfo.email}">Email: </p>
	<p th:text="${basicInfo.gitUrl}">Git URL: </p>
	
	
	
</body>
</html>